{% extends "faculty/base.html" %}
{% block content %}
    <h1 style="-webkit-text-stroke: 1px black;-webkit-text-fill-color: white;">About Us</h1>
    <b>
    <p style="font-color:white">One of the main responsibilities of the Placement Cell is to motivate, train and prepare the students 
        of the University and its affiliated Colleges for campus interviews. It plays a very important and key
         role in counselling and guiding the students of the University and its affiliated Colleges for their 
         successful career placement, which is a crucial interface for the students between the stages of 
         completion of academic programmes of studies and entry into suitable employment.</p></b>
{% endblock content %}