{% extends "faculty/pco/Pcobase.html" %}
{% block pcocontent %}
{% load crispy_forms_tags %}
<h1></h1><br>
<a href='../../addEvent'><button  class="btn btn-primary btn-lg active">Add Event</button></a><br>
<a href='../../viewEvent'><button  class="btn btn-primary btn-lg active">View Event</button></a><br>
<a href='../../viewStudent'><button  class="btn btn-primary btn-lg active">View Students</button></a><br>
<a href='../../addplaced'><button  class="btn btn-primary btn-lg active">Add Palced Students</button></a><br>
<a href='../../placedstu'><button  class="btn btn-primary btn-lg active">View Palced Students</button></a><br>
{% endblock pcocontent %}